  <div id="p1" class="mdl-progress mdl-js-progress" style="width: 100%;height: 10px"></div>

    <script>
      document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
        this.MaterialProgress.setProgress(25);
      });
    </script>
  <script>
    componentHandler.upgradeDom();
  </script>

  <div class="mdl-grid" style="margin-top:20px">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--10-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Number of instances</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <form class="mdl-grid" action="#">
          <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
            <h5>Producers : <span id="prodValue">{{sliderProd}}</span></h5>
            <input class="mdl-slider mdl-js-slider" ng-model="sliderProd" type="range" min="1" max="10" value={{sliderProd}} tabindex="0" id="prod">
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col" id="lol">
              <h5>Consumers : <span id="consValue">{{sliderCons}}</span></h5>
              <input class="mdl-slider mdl-js-slider" ng-model="sliderCons" type="range" min="1" max="10" value={{sliderCons}} tabindex="0" id="cons">       
          </div>
        </form>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
          Previous
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="onInstancesNext(sliderCons,sliderProd)" href="#prod" style="align:">
          Next
        </a>
      </div>
    </div>
  </div>



