  <script language="javascript">
    function changeCons(value){
       document.getElementById("consValue").innerHTML = value;
    }   
    function changeProd(value){
       document.getElementById("prodValue").innerHTML = value;
    }   
  </script> 
  <script>
    componentHandler.upgradeDom();
  </script>

  <div class="mdl-grid" style="margin-top:20px">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Providers definition</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
             <th class="mdl-data-table__cell--non-numeric mdl-cell mdl-cell--8-col">Providers</th>
             <th>Response length</th>
             <th>Response time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat= "p in prod">
              <td class="mdl-data-table__cell--non-numeric">{{p.name}}</td>
              <td>
                <!-- Numeric Textfield with Floating Label -->
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:70%">
                    <input class="mdl-textfield__input" ng-model="p.size" type="text" pattern="[1-9][0-9]*" id="sample1" value={{p.size}}>
                    <label class="mdl-textfield__label" for="sample1">Number...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                  </div>
                </form>
              </td>
              <td>
                <!-- Numeric Textfield with Floating Label -->
                <form action="#">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:70%">
                    <input class="mdl-textfield__input" ng-model="p.delay" type="text" pattern="[1-9][0-9]*" id="sample2" value={{p.delay}}>
                    <label class="mdl-textfield__label" for="sample2">Number...</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>      
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#/instances">
          Previous
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#cons" style="align:">
          Next
        </a>
      </div>
    </div>
  </div>